header {
    font-size: 25pt;
    font: italic;
    border: 2px darkgray outset;
    background-color: darkgray;
    display: inline-block;
    float: left;
}
body {
    background-color: lightgray;
    color: black;
    display: inline;
    word-wrap: break-word; 
    text-overflow: wrap;
    font-family: Helvetica;
    font-size: 14;
}
footer {
    float: left top;
    text-decoration-style: wavy;
    background-color: lightgray;
    color: darkgray;
    font-family: Helvetica;
    font-size: 14;
}
img {
    border-radius: 50;
    border: solid 1px darkgray;
}
li {
    background-color: darkgray;
    border: 4px outset;
    display: inline-block;
    padding: 14px;
    margin: 5px 210px;
}
section {
    text-align: left;
    border: 2px darkgray outset;
    background-color: whitesmoke;
    padding: 10px;
    margin: 5px 0px;
    display: block;
}
p {
    display: inline;
}
.blue {
    background-color: lightblue;
    float: left;
}
.white {
    float: right;
}
.main_img {
    width: 800px;
    border-radius: 1000px;
    border: 5px darkgray inset;
    display: inline;
}
.secondary_img {
    border: 2px inset;
    border-radius: 25px;
}
.one {
    display: inline-block;
    text-align: justify left;
}
.two {
    float: right;
    display: inline;
}
.three {
    float: left;
    display: inline;
}
.four {
    float: right;
    display: inline;
}
.five {
    float: left;
    display: inline;
}
.six {
    float: right;
    display: inline;
}
.seven {
    float: left;
    display: inline;
}
.eight {
    float: right;
    display: inline;
}