body {
    background-color: lightgray;
    color: black;
}
header {
    background-color: lightgray;
    color: black;
    text-align: center;
    border: inset;
}
footer {
    background-color: lightgray;
    color: darkgray;
}
img {
    border-radius: 50;
    border: solid 1px darkgray;
}
li {
    background-color: darkgray;
    border: 1px solid black;
    display: inline-block;
    margin: 5px 20px;
}
section {
    border: 1px darkgray;
    background-color: whitesmoke;
    margin: 5px 0px;
    display: inline;
}
p {
    display: inline-block;
    width: 600px;
}
.section:blue {
    background-color: lightblue;
}
.main_img {
    border-radius: circle;
}
.secondary_img {
    border: 2px highlight;
    border-radius: 25px;
}