header {
    text-emphasis-style: bold;
    background-color: gray;
    color: black;
    float: center;
    backdrop-filter: blur;
    align-items: center;
    text-overflow: nowrap;
    border: 2px darkgray outset;
    padding: 10px;
    margin: 0 auto;
    display: inline-block;
}
body {
    background-color: lightgray;
    color: black;
    display: inline;
    word-wrap: break-word; 
    float: top left;
    text-overflow: wrap;
}
footer {
    float: left top;
    text-decoration-style: wavy;
    background-color: lightgray;
    color: darkgray;
}
img {
    border-radius: 50;
    border: solid 1px darkgray;
}
li {
    background-color: darkgray;
    border: 4px outset;
    display: inline-block;
    padding: 14px;
    margin: 5px 210px;
}
section {
    text-align: left;
    border: 2px darkgray outset;
    background-color: whitesmoke;
    padding: 10px;
    margin: 5px 0px;
    display: block;
}
p {
    display: inline;
}
.blue {
    background-color: lightblue;
    float: left;
}
.white {
    float: right;
}
.main_img {
    float: center;
    width: 800px;
    border-radius: 1000px;
    margin: 0 auto;
    border: 5px darkgray inset;
}
.secondary_img {
    border: 2px inset;
    border-radius: 25px;
}
.1 {
    float: left;
    display: inline-block;
    text-align: justify left;
}
.2 {
    float: right;
}
.3 {
    float: left;
}
.4 {
    float: right;
}
.5 {
    float: left;
}
.6 {
    float: right;
    display: inline-block;
}
.7 {
    float: left;
}
.8 {
    float: right;
    display: block;
}
*{
    font-family: Helvetica;
    font-size: 14;
}